[project]
	description = Documentation for the Nubis project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Philippe M. Chiasson (gozer)
[access "refs/for/refs/*"]
	read = group user/Philippe M. Chiasson (gozer)
	push = group user/Philippe M. Chiasson (gozer)
	label-Code-Review = -2..+2 group user/Philippe M. Chiasson (gozer)
	label-Verified = -1..+1 group user/Philippe M. Chiasson (gozer)
	rebase = group user/Philippe M. Chiasson (gozer)
	removeReviewer = group user/Philippe M. Chiasson (gozer)
	submit = group user/Philippe M. Chiasson (gozer)
[access "refs/heads/*"]
	read = group user/Philippe M. Chiasson (gozer)
	create = group user/Philippe M. Chiasson (gozer)
	push = +force group user/Philippe M. Chiasson (gozer)
	pushMerge = group user/Philippe M. Chiasson (gozer)
[access "refs/tags/*"]
	push = +force group user/Philippe M. Chiasson (gozer)
	pushTag = group user/Philippe M. Chiasson (gozer)
	pushSignedTag = group user/Philippe M. Chiasson (gozer)
